*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: block;
}
.main{
    margin-top: 40px;
    text-align: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 40px;
    padding-top: 50px;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
li{
    font-family: 'Kanit';
    font-size: 25px;
    transition: transform 0.1s ease-in-out;
}
li a{
    color: white;
    text-decoration: none;
}
.nav-container li:hover{
    transform: scale(1.03);
}
.nav-container li a:hover{
    color: white;
}
.blog-container,.form-container{
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.form-container{
    width: 500px;
}
.main-blog,.main-form{
    font-size: 40px;
}
p{
    font-family: 'Kanit';
    font-weight: 400;
    font-size: 25px;
}
form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input{
    width: 500px;
    font-size: 20px;
    font-family: 'Kanit';
    font-weight: 400;
}
textarea{
    width: 500px;
    font-size: 20px;
    font-family: 'Kanit';
    font-weight: 400;
}
.text{
    height: 35px;
}
.des{
    height: 300px;
}
button{
    font-family: 'Kanit';
    font-weight: 400;
}
.blog-list-container ul{
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}
.blog-list-container li{
    background-color:#f9f9f9 ;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px 30px 20px 30px;
    color: black;
    width: 700px;
    overflow: hidden;
}
.blog-list-container h4{
    max-height: 120px;
    overflow: hidden;
}
.blog-topic,.blog-des{
    font-family: 'Kanit';
    font-weight: 400;
}
.blog-topic{
    font-size: 30px;
    font-weight: 500;
    transition: transform 0.1s ease-in-out;
}
.blog-topic a{
    color: black;
}
.blog-topic:hover{
    transform: scale(1.05);
}
.blog-des{
    font-size: 20px;
}

.icon{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    cursor: pointer;
}
a i{
    color: cadetblue;
}
.fa-trash{
    margin-top: 18px;
}
h3{
    color: black;
    font-size: 15px;
    font-family: 'Kanit';
    font-weight: 500;
    margin-top: 5px;
}
.line{
    width: 690px;
    height: 5px;
    background-color: whitesmoke;
    opacity: 0.2;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
}
.des-container{
    margin-top: 80px;
    background-color: white;
    width: 700px;
    color: black;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px 30px 20px 30px;
    margin-bottom: 60px;
}
.des-container h2,h4{
    font-family: 'Kanit';
}
.des-container h2{
    font-weight: 500;
}
.des-container h4{
    font-weight: 400;
}
.login-container{
    margin-top: 80px;
}
form{
    margin-top: 20px;
}
.login-main{
    font-family: 'Kanit';
    font-weight: 500;
    text-align: center;
    margin-top: 180px;
}
.login-container input{
    height: 40px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.login-container button{
    height: 50px;
    margin-top: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.des-topic{
    font-size: 40px;
}
.des-des{
    font-size: 20px;
    margin-top: 30px;
}